.table {
  display: block;
  width: 100%;
  padding-top: 6px;
  padding-right: 12px;
  padding-bottom: 6px;
  padding-left: 20px;
  border-radius: 4px;
  border: solid 1px #ccc;
}

.matchGroupPage {
  background-image: url('untitled.png');
  font-family: 'Oxygen', sans-serif;
  color: #FFFFFF;
  background-color: #005692;
  padding: 20px;
}

.matchGroupTop{
  background-image: image('Untitled.png');
}

.matchGroupTitle {
  font-family: 'Oxygen', sans-serif;
  font-weight: normal;
  font-size: 30px;
  padding-left: 25;
  color: #FFFFFF;
  background-color: #005692;
}

.matchGroup{
  font-family: 'Oxygen', sans-serif;
  font-size: 24px;
  font-weight: lighter;
  color: #FFFFFF;
  background-color: #222222;
  margin: 25px;
  padding : 50px;
  display: inline-block;
}
