~colors: "./../../config/colors.config";

:global {
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover {
    background-color: ~colors.paleBlue !important;
  }
}

.navTab > li > a {
  color: inherit !important;
  background-color: transparent !important;
}

.navTab > li > a:hover {
  color: ~colors.brightYellow !important;
}

.navTab > li > a:active {
  color: inherit !important;
  background-color: ~colors.paleBlue !important;
}
