.heading {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 40px;
  padding-bottom: 15px;
}

.huge {
  font-size: 100px;
}

.error {
  color: #a94442;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 12px;
}
