<table>
    <tr>
        <td class="column" align="#attendingStatus1">#team1</td>
    </tr>
    <tr>
        <td class="column" align="#attendingStatus2">#team2</td>
    </tr>
    <tr>
        <td class="column" align="#attendingStatus3">#team3</td>
    </tr>
    <tr>
        <td class="column" align="#attendingStatus4">#team4</td>
    </tr>
    <tr>
        <td class="column" align="#attendingStatus5">#team5</td>
    </tr>
    <tr>
        <td class="column" align="#attendingStatus6">#team6</td>
    </tr>
    <tr>
        <td class="column" align="#attendingStatus7">#team7</td>
    </tr>
    <tr>
        <td class="column" align="#attendingStatus8">#team8</td>
    </tr>
</table>