<table>
    <!-- Header Starts -->
    <tr>
        <td class="HeaderContainer">
            <table>
                <tr>
                    <td class="logoContainer">
                        <img src="logo.png" /></td>
                    <td>
                        <table>
                            <tr>
                                <td class="HeaderTitle">
                                    Vancouver Racquets
                                    Club</td>
                                <td class="filetime">
                                    Page #pgnumber of #pgtotal</td>
                            </tr>
                            <tr>
                                <td class="mottoContainer">
                                    Weekly Doubles Leaderboard</td>
                                <td class="filetime">
                                    The
                                    ladder as on : #dateandtime</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <!-- Header Ends -->
    <tr>
        <td>
            <br />
            The ladder details are provided below: - <br />
            <!-- Start Ladder Table -->
            <table>
                <tr>
                    #content
                </tr>
            </table>
            <br />
            <p class="legends"> <br />
                * The slightly left aligned boxes are attending teams. <br />
                * The slightly right aligned boxes are not attending teams. <br />
            </p></td>
    </tr>
    <tr>
        <td class="footerContainer">
            <table>
                <tr>
                    <td class="copyrightsContainer">
                        Contents of this file
                        belongs to Vancouver Racquets Club <br />
                        A non-profit organization </td>
                    <td class="addressContainer">
                        4867 Ontario Street <br />
                        Vancouver BC V5V 3H4 <br />
                        Tel: 604-874-0242 <br />
                        Fax: 604-873-2831</td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<br />