<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Language" content="en-us">
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252" />
</head>
<body style="background-color:#FFFFFF; color: #000000; font-family: Lato; text-align: left; font-size: 10pt;">


<p>&nbsp;</p>
<div align="center">
    <table border="1" width="700" id="DatabaseErrorContainer" style="border-width: 0px">
        <tr>
            <td style="border-style: none; border-width: medium">
                <table border="1" width="100%" id="DatabaseErrorTitle" style="border-width: 0px; text-align: left; font-size: 14pt;" bgcolor="#01A108" height="60">
                    <tr>
                        <td style="border-style: none; border-width: medium; text-align: center; width: 84px;">
                            <img border="0" src="http://www.espuresystems.com/vrc/logo.png" width="60" height="30"></td>
                        <td style="border-style: none; border-width: medium; color: #CE0000; font-weight: bold;">
                            <font color="#FFFFFF" size="3">&nbsp;VANCOUVER RACQUETS CLUB
                            </font></td>
                    </tr>
                </table>
                <table border="1" width="100%" id="DatabaseErrorMessage" style="border-width: 0px; text-align: justify; font-size: 10pt;">
                    <tr>
                        <td style="border-style: none; border-width: medium">
                            <br>
                            Failed attempt to your account</td>
                    </tr>
                    <tr>
                        <td style="border-style: none; border-width: medium"><hr></td>
                    </tr>
                    <tr>
                        <td style="border-style: none; border-width: medium">
                            Dear #fullname,<br>
                            <br>
                            You are receiving this email to be informed about having
                            five failed attempts to login to your account at
                            Vancouver Racquets Club!<p>If these attempts were by you,
                            please ignore this message. Otherwise, please inform us at
                            support@vrc.com</p>
                            <p>Sincerely Yours,<br>
                                VRC</td>
                    </tr>
                    <tr>
                        <td style="border-style: none; border-width: medium">
                            <hr></td>
                    </tr>
                    <tr>
                        <td style="border-style: none; border-width: medium">
                            If you received this email in error, please inform us at
                            <a href="mailto:support@vrc.com">support@vrc.com</a>. Do not
                            reply to this email as your response will be deleted.</td>
                    </tr>
                    <tr>
                        <td style="border-style: none; border-width: medium">
                            &nbsp;</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

</div>

</body>
</html>