~colors: "./config/colors.config";

:local {
  .upperNavbar {
    background-color: ~colors.darkGreen;
    color: ~colors.white;
    border: ~colors.charcoalGrey;
    font-size: 21px;
  }

  .navbarLogo {
    position: relative;
    padding: 15px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 1px;
  }

  .lowerNavbar {
    top: 50px;
    background-color: ~colors.brightYellow;
    border: ~colors.charcoalGrey;
    min-height: 34px;
    font-size: 21px;
    padding: 7px;
    line-height: 20px;
    text-align:center;
  }

  .lowerNavContainer {
    text-align:center;
    float: none;
    display: inline-block;
  }

  .lowerNavbarHeading {
    color: ~colors.charcoalGrey !important;
    float:none;
    margin: 0px;
    position: relative;
  }

  /*.navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:focus,
  .navbar-default .navbar-nav > .active > a:hover {
      color: #555;
      background-color: #e7e7e7;
  }*/
  /*.navItem .nav > .active > a,
  .navItem .nav > .active > a:focus,
  .navItem .nav > .active > a:hover {
    background-color: red !important;
  }*/

  .navItem > li > a {
    color: inherit !important;
    background-color: transparent !important;
  }

  .navItem > li > a:hover {
    color: ~colors.brightYellow !important;
  }

  .navItem > li > a:active, .navItem > li > a:focus {
    color: inherit !important;
    background-color: ~colors.darkerGreen !important;
  }
}
