~colors: "./config/colors.config";

:local {
  .navbarInverse {
    background-color: ~colors.darkGreen;
    color: ~colors.white;
    border: ~colors.charcoalGrey;
  }

  .navbarLogo {
    padding: 15px;
    color: inherit;
    line-height: inherit;
  }

  .navbarLogo {
    color: inherit;
    position: relative;
    padding: 15px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: bolder;
  }
}
