~colors: "./config/colors.config";

:local {
  .upperNavbar {
    background-color: ~colors.darkGreen;
    color: ~colors.white;
    border: ~colors.charcoalGrey;
    font-size: 21px;
    margin-bottom: 0px;
  }

  .navbarLogo {
    color: ~colors.white !important;
    position: relative;
    /*padding: 15px 0px;*/
    line-height: 20px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bolder;
  }

  .lowerNavbar {
    top: 50px;
    z-index: 100;
    background-color: ~colors.brightYellow;
    border: ~colors.charcoalGrey;
    min-height: 34px;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    box-shadow: 0 2px 3px rgba(0,0,0,0.4);
  }

  .lowerNavContainer {
    margin: 7.5px -15px;
    text-align: center;
    float: none;
    display: inline-block;
  }

  .lowerNavbarHeading {
    color: ~colors.charcoalGrey !important;
    float: none;
    margin: 0px;
    position: relative;
    display: inline-block !important;
  }

  /*.navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:focus,
  .navbar-default .navbar-nav > .active > a:hover {
      color: #555;
      background-color: #e7e7e7;
  }*/

  /*.navItem .nav > .active > a,
  .navItem .nav > .active > a:focus,
  .navItem .nav > .active > a:hover {
    background-color: red !important;
  }*/

  .navItem > li > a {
    color: inherit !important;
    background-color: transparent !important;
  }

  .navItem > li > a:hover {
    color: ~colors.brightYellow !important;
  }

  .navItem > li > a:active {
    color: inherit !important;
    background-color: ~colors.darkerGreen !important;
  }

  /*.navItem > li > a:active, .navItem > li > a:focus {
    color: inherit !important;
    background-color: ~colors.darkerGreen !important;
  }*/
}
