~colors: "../../config/colors.config";

.createTeam{
  font-family: 'Roboto', sans-serif;
  padding: 15px;
  margin-bottom: 50px;
  font-size: 16px;
  display: block;
  background-color: ~colors.paleGreen;
}

.sectionHeaders{
  font-size: 22px;
  font-weight: 450;
  width: auto;
  padding-left: 1%;
  color: ~colors.charcoalGrey;
  background-color: ~colors.darkGreen;
  border-radius: 4px;
  border: solid 2px #ccc;
}

.profileDetailsField{
  font-size: 18px;
  font-weight: 600;
  padding-left: 1%;
  width: 50%;
  display: inline-block;
}

.profileDetails{
  font-size: 16px;
  font-weight: 200;
  padding-left: 1%;
  display: inline-block;
}

.goodForm {
  width: 66%;
  height: 34px;
  float: left;
  padding-top: 6px;
  padding-right: 12px;
  padding-bottom: 6px;
  padding-left: 20px;
  border-radius: 4px;
  border: solid 1px #ccc;
}

.inactiveProfileTeams{
  width: 33%;
  display: inline-block;
}

.activeProfileTeam{
  width: 33%;
  display: inline-block;
}

.errorForm {
  composes: goodForm;
  border: solid 1px red;
}

.errorMsg {
  width: 20%;
  margin-top: 5px;
  margin-bottom: 10px;
  float: right;
  padding-right: 15px;
  padding-left: 15px;
}

.formHorizontal {
  display: block;
}

.center {
  margin: auto;
  width: 60%;
  text-align: center;
}

.formGroup {
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
  height: 34px;
}

.colXsTitle {
  width: 33.3%;
  position: relative;
  float: left;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.table {
  display: block;
  width: 100%;
  padding-top: 6px;
  padding-right: 12px;
  padding-bottom: 6px;
  padding-left: 20px;
  border-radius: 4px;
  border: solid 1px #ccc;
}
